@media screen and (max-width: 768px) {
  .game_intro{
    width : 300px;
    margin : 40px auto;
    color : #fff;
  }

  .game_intro > label{
    font-size : 26px;
    color : #ffcf24;
    display : block;
    margin-bottom : 20px;
  }
}
