.header{
  height : 50px;
  box-sizing: border-box;
  display : flex;
  width : 100%;
  flex-direction: row;
  background-color: #373B56;
}

.header > a{
  display : inline-block;
  width : 400px;
  text-align : center;
  font-size : 20px;
  margin : auto 0;
  color : #FFCF24;
  font-weight: bold;
}

.header > div{
  width : 100%;
  display : flex;
  justify-content: space-between;
}

.header > div > div{
  font-size : 18px;
  margin : auto 60px;
  color : #fff;
}

.header div a, .header div button{
  font-size : 18px;
  color : #fff;
  display : inline-block;
  margin : auto 0;
}

.mobile_header{
  display : none;
}
