.moving_dots {
  text-align : center;
}

.moving_dots > canvas:nth-child(1){
  margin-top : 30px;
}

.moving_dots > button{
  display : block;
  margin : 15px auto;
  padding : 10px 30px;
  border : 2px solid #FFCF24;
  color : #FFCF24;
}

.moving_dots > button:hover{
  background-color : #FFCF24;
  color : black;
}
