

@media screen and (max-width: 768px) {
  .private_room{
    width : 100%;
  }

  .private_room label{
    display : block;
    font-size : 26px;
    color : #fff;
    width : 300px;
    margin : 10px auto;
    font-weight: bold;
  }

  .private_room span{
    color : #fff;
    display : inline-block;
    margin-bottom : 140px;
  }

  .private_room form{
    display : flex;
    flex-direction: column;
    width : 300px;
    margin : 30px auto 240px auto;
  }

  .private_room input, .private_room button{
    box-sizing: border-box;
    width : 300px;
    height : 45px;
    padding : 10px 15px;
    border-radius: 5px;
    margin : 10px 0;
    font-size : 16px;
  }

  .private_room input{
    box-sizing: border-box;
    background-color : #384050;
    outline : none;
    border : 0;
    color : #fff;
    transition : .1s;
  }

  .private_room button{
    background-color : #FFCF24;
  }
}
