.public_room_list{
  width : 1300px;
  margin : 0 auto;
}

.public_room_list a, .public_room_list button{
  font-size : 16px;
  padding : 10px 30px;
  background-color : #FFCF24;
  margin-right : 30px;
  border-radius : 7px;
  box-shadow : 0px 5px 3px rgba(0,0,0,0.1);
}

.public_room_list .room_list{
  display : flex;
  flex-wrap : wrap;
  width : 1300px;
}

.public_room_list > .game_select{
  width : 1300px;
  margin : 30px 50px;
}

.public_room_list .game_select button{
  border-radius: 50px;
  background-color : #384050;
  color : #fff;
}

.public_room_list .game_select .select{
  background-color : #FFCF24;
  color : #000000;
}

@media screen and (max-width: 768px) {
  .public_room_list{
    width : 320px;
    margin : 0 auto;
  }

  .public_room_list label{
    display : block;
    font-size : 26px;
    color : #fff;
    margin : 40px auto 20px auto;
    font-weight: bold;
  }

  .public_room_list select{
    box-sizing: border-box;
    width : 320px;
    height : 45px;
    background-color : #384050;
    border : none;
    outline : none;
    color : #fff;
    padding : 10px 15px;
    font-size : 14px;
    margin-bottom : 10px;
  }

  .public_room_list .room_list{
    display : flex;
    flex-direction: column;
    width : auto;
  }

  .public_room_list > .game_select{
    width : auto;
    margin : 0;
  }
}
