.register form{
  width : 400px;
  margin : 200px auto;
  display : flex;
  flex-direction: column;
}

.register input, .register button{
  width : 350px;
  height : 45px;
  border-radius: 5px;
  margin : 10px 0;
  font-size : 16px;
}

.register input{
  box-sizing: border-box;
  background-color : #384050;
  outline : none;
  border : 0;
  padding : 10px 15px;
  color : #fff;
  transition : .1s;
}

.register button{
  box-sizing: border-box;
  background-color : #FFCF24;
}
